
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Liste des panneaux </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of listePanneaux" (click)="onClickItem(item.id)">
          <ion-thumbnail slot="start">
              <ion-img [src]="item.image"></ion-img>
          </ion-thumbnail>
          <div>
          <h3>{{item.title}}</h3>
          <div>{{item.comment}}</div>
        </div>
      </ion-item>
    </ion-list>
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
  </ion-content>