<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Quiz et Question</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-img style="width: 20%" [src]="question.image"></ion-img>
    <p>{{question.question}}</p>
    <p>{{question.bonChoix}}</p>
    <ion-list>
    <ion-radio-group (ionChange)="onChange($event)">
          <ion-item>
          <ion-radio value="1"></ion-radio><br>
          <ion-label> {{question.choix1}}</ion-label>
          </ion-item>
          <ion-item>
          <ion-radio value="2"></ion-radio>
         <ion-label> {{question.choix2}}</ion-label>
          </ion-item>
          <ion-item>
         <ion-radio value="3"></ion-radio>
       <ion-label> {{question.choix3}}</ion-label>
          </ion-item>
          <ion-item>
          <ion-radio value="4"></ion-radio>
         <ion-label> {{question.choix4}}</ion-label>
       </ion-item>
    </ion-radio-group>
    </ion-list>
    <ion-button (click)="onValidate()">Valider</ion-button>
  </ion-content>
  
